name: cleanup
on:
  push:
    branches: ['main']
  schedule:
    - cron: '0 2 * * 0'
  workflow_dispatch:
jobs:
  prepare:
    name: Output package name
    runs-on: ubuntu-latest
    outputs:
      pkg_name: ${{ steps.parse.outputs.pkg_name }}
    steps:
      - name: Set package name
        id: parse
        shell: bash
        run: |
          REPO_NAME="${GITHUB_REPOSITORY##*/}"
          PKG_NAME="${REPO_NAME##*-}"
          if [ -z "$PKG_NAME" ] ; then
            echo "$PKG_NAME Empty"
            exit 1
          fi
          echo "PACKAGE='${PKG_NAME}'"
          echo "pkg_name=${PKG_NAME}" >> $GITHUB_OUTPUT
  cleanup:
    name: Cleanup untagged images
    runs-on: ubuntu-latest
    permissions:
      packages: write
    needs: 
      - prepare 
    steps:
      - uses: dataaxiom/ghcr-cleanup-action@v1
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          delete-untagged: true
          owner: ${{ github.repository_owner }}
          token: ${{ secrets.GITHUB_TOKEN }}
          package: ${{ needs.prepare.outputs.pkg_name }}